* {
    box-sizing: border-box;
}

/* CSS WAHYU */

.navbar {
    font-family: 'Alatsi', sans-serif;
    text-transform: uppercase;
    transition: .5s;
}

a.navbar-brand {
    font-size: 25px;
    margin-left: 50px;
    font-size: 2em;
    transition: 1s;
}

a.nav-item {
    font-size: 1em;
    margin-right: 30px;
    transition: 1s;
}

.navbar-nav {
    margin-right: 20px;
}

.jumbotron {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container-wahyu {
    padding-top: 30vh;
    text-align: center;
}

.container-wahyu h1 {
    text-transform: uppercase;
    font-family: 'Alatsi', sans-serif;
    font-size: 70px;
    color: #fff;
    cursor: default;
}

.container-wahyu p {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
}

.container-wahyu button {
    margin-top: 30px;
}

/* END CSS WAHYU */

.no-space, .grid {
    padding: 0;
    overflow: hidden;
}

.grid img {
    max-width: 100%;
    transition: 7s;
}

.carousel img {
    max-width: 100%;
}

.grid:hover img {
    transform: scale(1.2);
}

.caption {
    position: absolute;
    font-family: Roboto;
    top: 10%;
    left: 10%;
    right: 10%;
    color: white;
    z-index: 1;
}

.caption h1 {
    font-family: 'BebasNeueRegular';
    font-size: 2em
}

.carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, black)
}

/* Non Alam */

#non-alam .carousel-item::before {
    background-image: url('../images/azhari/Layer.svg');
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
}

#non-alam img {
    height: 100vh;
    object-fit: cover;
}

#non-alam .content {
    padding: 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

#non-alam .judul {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    color: #00D6FF;
}

#non-alam .desc {
    font-size: 1.5em;
}

#non-alam button {
    float: right;
    margin-right: 50px;
    border: 2px solid #00D6FF;
    background: transparent;
    color: #00D6FF;
    font-size: 1.25em;
    border-radius: 20px;
}

#non-alam img::before {
    content: '';
    position: absolute;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    bottom: 0;
    top: 80%;
}

@media (max-width: 992px) {
    #non-alam .content {
        position: relative;
    }
    #non-alam .carousel-item::before {
        background: rgba(0, 0, 0, 0.6);
    }
    #non-alam {
        background: black;
    }
    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        bottom: 0;
        top: 0;
    }
}

/* End Non Alam */

.arrow {
    color: white;
    float: right;
    font-size: 3em;
}

#event, #kuliner {
    background: #e6e6e6;
    padding-top: 2em;
}

.card {
    margin: 5px;
    cursor: pointer;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.katevent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: roboto;
}

.tgl-event {
    color: red;
}

.card-body {
    padding-bottom: .5em;
}

.event-desc {
    padding-top: 0;
}

#about {
    min-height: 100vh;
    width: 100%;
    background: url("../images/About.jpg");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    overflow: hidden;
    padding: 2em;
    color: white;
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

#about h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
    position: relative;
}

#about p {
    font-size: 1.25em;
}

#footer {
    background: #333;
    padding: 1.3em;
    color: white;
    text-align: center;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (max-width: 760px) {
    .container-wahyu h1 {
        font-size: 2.4em;
    }
}